{% include 'base.html.twig' %}

{% block body %}
    <section class="home" id="home">
        <div class="home-text">
            <h1>
                Japan<br>Guide
            </h1>
            <p>
                Your gateway to experiencing the<br>Land of the Rising Sun like never before!
            </p>
        </div>
    </section>
{% endblock %}