{% include 'base.html.twig' %}

{% block body %}
    <section class="home" id="home">
        <div class="home-text">
            <h1>
                Japan<br>Guide
            </h1>
            <p>
                Your gateway to experiencing the<br>Land of the Rising Sun like never before!
            </p>
            <a href="#latestPosts" class="home-btn">Check Out Our Latest Posts!</a>
        </div>
    </section>

    <section class="latestPosts" id="latestPosts">
        <div class="package-content">
            <div class="box">
                <div class="thum">
                    <a href="{{ path('osakaTenThingsToDo') }}">
                        <img src="{{ asset('/assets/img/osaka.jpg') }}" alt="Osaka">
                    </a>
                </div>

                <div class="dest-content">
                    <div class="location">
                        <h4>Osaka</h4>
                        <p>Ten Things to Do in Osaka:<br>A Guide to Unforgettable Experiences</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}